trace.txt
*.md
bin.txt
platform_def.xn
program_info.txt
xscope.xscope
devl-*
spispec-*
*.ppb

tests/test_xtend_basic/src/xtend_blob.h
tests/test_xtend_global/src/xtend_blob.h
tests/test_xtend_print/src/xtend_blob.h
tests/test_xtend_resource/src/xtend_blob.h
tests/test_xtend_interface/src/xtend_blob.h
tests/test_xtend_interface_multiclient/src/xtend_blob.h
tests/test_xtend_global_bss/src/xtend_blob.h
tests/test_xtend_xc_timer/src/xtend_blob.h
# Generic generated xtend blob headers/binaries
**/xtend_blob.h
**/xtend_blob.bin

# Tmp files & logs
*.settings
*.bin
*.zip
*.log
*.vcd
*.swp
*.*~
*.xmt
*.swo
*.swn
*~
*.DS_Store

# Python
*.pyc
**/*.egg-info/
**/.venv*/

# XMOS temp files
**/*build*/*
*/bin/*
**/flash_bin_node*
**/fw-*
**/s2l-*
**/spanning-xn-*
**/target-xn*
*.xi
*.o
*.i
*.a
*.d
*.decouple
*.pca.xml
**/CMakeFiles/*
*.elf
*.swmem

# XMOS binaries
*.xe
*.xb

# Built documentation
doc/_build/pdf/*.pdf
**/doc/pdf/*.pdf


